# 가상환경 폴더 (venv, .env 등)
venv/
.env

# 파이썬 컴파일 파일
__pycache__/
*.py[cod]
*$py.class

# VS Code 설정 (선택)
.vscode/

# Django 마이그레이션 캐시 (선택)
*/migrations/__pycache__/
*/migrations/*.py

# 데이터베이스 파일 (로컬 개발용이면 무시 가능)
db.sqlite3

# 미디어 및 출력 파일 (영상, 오디오 등)
media/
audio/
video/

# 캐시, 로그 파일
*.log
*.pot
*.pyc

# 시스템 파일
.DS_Store
Thumbs.db

# 구글 key 추가
*.json