# django framework
Django==5.2.1

# Google Cloud TTS
google-cloud-texttospeech==2.15.0

# Google OAuth2
google-api-python-client==2.113.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.0

# Video editing and audio processing
moviepy==1.0.3
imageio==2.31.6
imageio-ffmpeg==0.4.8
numpy==1.24.4 

# image processing
Pillow==9.5.0

# translate language
googletrans==4.0.0rc1 

# google tts
gTTS==2.5.4

# etc dependence
requests==2.32.3
tqdm==4.67.1
python-dotenv==1.0.1
